services:
  - type: web
    name: viajes-premier
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.19.0
      - key: NPM_VERSION
        value: 10.8.2
